# Local environment variables
APP_NAME=MyApp

{{.EnvPrefix}}_SERVER_ADDR=:5050
{{.EnvPrefix}}_DB_HOST=localhost
{{.EnvPrefix}}_DB_PORT=5432
{{.EnvPrefix}}_DB_USER=postgres
{{.EnvPrefix}}_DB_PASSWORD=postgres
{{.EnvPrefix}}_DB_NAME={{.Name}}app
{{.EnvPrefix}}_DB_SSL_MODE=disable
{{.EnvPrefix}}_DB_PING_INTERVAL=30s
